%h1 SponsorPay Mobile Offer API Client
%hr
%form{action: '/get_offers', method: 'post', role: 'form'}
  %div.form-group
    %label{for: 'uid'} UID
    %input.form-control#uid{type: 'text', name: 'uid', placeholder: 'Type...'}
  %div.form-group
    %label{for: 'pub0'} Pub0
    %input.form-control#pub0{type: 'text', name: 'pub0', placeholder: 'Type...'}
  %div.form-group
    %label{for: 'page'} Page
    %input.form-control#page{type: 'text', name: 'page', placeholder: 'Type...'}
  %button.btn.btn-default{type: 'submit'} Submit
